html,
body {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    background-color: #E0E2DB;
}

.yatzy-table{
    display: flex;
}

.playbox{
    position: relative;
    display: flex;
    width: 50vw;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.diceShow{
    border: 1px solid #3D348B;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3vh;
    margin: 0;
    width: 60vw;
    height: 40vh;
    }

.input-box{
  display: flex;    
}

.dialogue{
    display: flex;
    background-color:#3D348B;
    width: initial;
    margin-bottom: 10px;
    align-content: space-between;
}
table {
    margin: 0;
    border: 2px #191716 solid;
    border-collapse: collapse;
    width: 20vw;
    height: 30vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 14px;
}


td{
    background-color: #BEB7A4;
    padding: 3px 20px 3px 5px;
    border: 1px #191716 solid;
}
th{
    min-width: 180px;
    background-color: #ffffff;
    padding: 3px 20px 3px 5px;
    border: 1px #191716 solid;
}


td:nth-child(odd) {
    background-color: #ffffff;
}

.info-row td {
    background-color: #E0E2DB;
    border: 2px black solid;
}

.info-row-main {
    font-weight: 900;
    background-color:#3D348B!important;
    color: #ffffff;
}

td>input {
    width: 2vw;
    border: 0;
    background-color:inherit;
}


.button-placeholder{
    position: relative;
    display: flex;
    align-items: flex-end;
}
.calculateButton{
    position: relative;
    margin-left: auto;
    display: flex;
    float:right;
}

.button, .calculate-button{
    height:50px;
    background-color: #E6AF2E;
    color: #191716;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



.diceShow__dice img{
    display: flex;
    width: 10vw;
    margin-bottom: 10px;
}
.diceShow input{
    display: flex;
    margin: auto;
    width: 3vw;
    height: 3vh;
}

.diceShow  ul{
    text-align: center;
}
.diceShow ul li{
    list-style-type: none;
    float: left;
    text-align: center;
}
